.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
        font-size: 20pt;
    background-color: #000;
    color: #fff;
    font-family: 'Rubik', sans-serif;
  }
.resize {
  width: 70%;
}
