.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
body {
        font-size: 20pt;
    background-color: black;
    color: cornsilk;
    font-family: 'Rubik', sans-serif;
}
p{
  margin: 0%;
}
img.resize {
  width: 70%;
  height: auto;
} 

.right {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: right;
  text-align: right;