.center {
        display: flex;
        justify-content: center;
        align-items: center;
}
body {
        font-size: 36pt;
    background-color: #000;
    color: #fff;
    font-family: optima, comic-sans;
  }
